<div class="eqLogic-widget">
    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label class="col-sm-3 control-label">{{Adresse IP de l'ECU}}</label>
                <div class="col-sm-7">
                    <input type="text" class="eqLogicAttr form-control" data-l1key="configuration" data-l2key="ip_address" placeholder="192.168.1.141"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-7 col-sm-offset-3">
                    <a class="btn btn-success eqLogicAction" data-action="save">{{Sauvegarder}}</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>